body {
  color: #fff;
  font-size: 28px; }
  body .row {
    margin: 0; }

.main-box {
  width: 450%; }

.header {
  width: 100%;
  line-height: 200px;
  padding: 0 30px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  background: url("../images/header.png");
  background-size: 100% 100%; }
  .header span {
    font-size: 80px;
    color: #fff;
    letter-spacing: 38px; }
  .header .left-time {
    float: left;
    color: orange; }
  .header .right-time {
    float: right; }

.contain-box {
  width: 100%;
  padding: 10px 0;
  background: url("../images/body.png");
  background-size: 100% 100%; }
  .contain-box .item-box {
    float: left;
    width: 20%;
    padding: 0 20px; }
    .contain-box .item-box .item {
      border: 3px solid #39e2e8;
      box-shadow: 0 0 8px #39e2e8;
      margin-top: 20px;
      padding: 20px; }
    .contain-box .item-box .head {
      width: 100%;
      padding: 0 30px;
      line-height: 50px;
      color: white;
      font-weight: bold; }
    .contain-box .item-box .table-box {
      margin-top: 20px;
      width: 100%;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      overflow: hidden; }
      .contain-box .item-box .table-box .table-item {
        float: left;
        width: 100%; }
        .contain-box .item-box .table-box .table-item.table-college {
          width: 100%; }
          .contain-box .item-box .table-box .table-item.table-college .table-line li:nth-child(1) {
            width: 50%; }
          .contain-box .item-box .table-box .table-item.table-college .table-line li:nth-child(2) {
            width: 50%; }
        .contain-box .item-box .table-box .table-item li {
          float: left;
          line-height: 40px;
          height: 40px;
          text-align: center;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff; }
          .contain-box .item-box .table-box .table-item li.title {
            font-weight: bold;
            color: #39e2e8; }
          .contain-box .item-box .table-box .table-item li.red {
            color: red; }
          .contain-box .item-box .table-box .table-item li.green {
            color: green; }
          .contain-box .item-box .table-box .table-item li:nth-child(3n+1) {
            width: 30%; }
          .contain-box .item-box .table-box .table-item li:nth-child(3n+2), .contain-box .item-box .table-box .table-item li:nth-child(3n+3) {
            width: 10%; }

.count-box {
  padding: 20px;
  color: #fff; }
  .count-box .count-item {
    margin-top: 10px;
    overflow: hidden; }
    .count-box .count-item li {
      float: left;
      line-height: 65px;
      text-align: center;
      color: #ccc; }
      .count-box .count-item li:nth-child(1) {
        border: 1px solid #fff; }
      .count-box .count-item li:nth-child(3) {
        color: red; }
  .count-box .gender {
    overflow: hidden; }
    .count-box .gender .rate {
      width: 100%;
      height: 100px; }
      .count-box .gender .rate img {
        float: left;
        width: 100px;
        height: 100px; }
      .count-box .gender .rate .count {
        float: left;
        width: 50%;
        heihgt: 100px;
        margin: 0 20px; }
        .count-box .gender .rate .count .man {
          text-align: center;
          line-height: 100px;
          background-color: #1296db;
          color: white; }
        .count-box .gender .rate .count .woman {
          text-align: center;
          line-height: 100px;
          background-color: red;
          color: white; }
      .count-box .gender .rate .red {
        float: left;
        line-height: 100px;
        color: red; }

#college-detail {
  height: 500px; }

#grade-detail {
  height: 500px; }

#enrollment-detail {
  height: 600px; }

/*# sourceMappingURL=main.css.map */
